asgiref==3.7.2 
django==4.2.4 
sqlparse==0.4.4 
tzdata==2023.3
djangorestframework==3.14.0 
pytz==2023.3
django-phonenumber-field==7.1.0
Pillow==10.0.0
django-countries==7.5.1
 typing-extensions==4.7.1
